.app-layout{
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

.main-content{
    flex:1;
    padding:20px;
}

.app-footer{
    background:#1e293b;
    color:#fff;
    padding:15px 20px;
}

.footer-content{
    max-width:1400px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:15px;
}

.footer-links{
    display:flex;
    gap:18px;
}

.footer-links a{
    color:#cbd5e1;
    text-decoration:none;
    transition:.3s;
}

.footer-links a:hover{
    color:white;
}